.button {
  --buttonSize: calc((56 / 16) * 1rem);
  --buttonFontSize: calc((18 / 16) * 1rem);
  --buttonFocusWidth: 4px;
  --buttonPadding: 0 24px;
  --buttonTextOpacity: 1;
  --buttonLoaderDelay: 0s;

  height: var(--buttonSize);
  padding: var(--buttonPadding);
  cursor: pointer;
  transition-property: opacity, color, background;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  color: rgb(254, 250, 250);
  position: relative;
  isolation: isolate;

  &:active {
    transition-duration: calc(200ms / 2);
  }

  &::after {
    content: '';
    transition-property: opacity, color, background;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    --tw-gradient-to: #fbbf24 var(--tw-gradient-to-position);
    --tw-gradient-from: #d97706 var(--tw-gradient-from-position);
    -tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
    position: absolute;
    inset: 0;
    z-index: -1;
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        0 100%);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition-property: transform, opacity, color, background;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }

  &[data-secondary='true'] {
    --buttonSpace: 10px;
    --buttonTextColor: oklch(65.91% 0.249 13.76);

    background: none;
    padding-left: var(--buttonSpace);
    padding-right: var(--buttonSpace);
    position: relative;
    left: calc(var(--buttonSpace) * -1);
    height: calc((32 / 16) * 1rem);

    &::after {
      content: '';
      height: calc((32 / 16) * 1rem);
      position: absolute;
      inset: 0;
      background-color: color-mix(in lab, oklch(65.91% 0.249 13.76) 20%, transparent);
      transform: scale3d(0, 1, 1);
      transform-origin: right;
      clip-path: none;
    }

    &:hover {
      transform: none;
      background: transparent;
    }

    &:hover::after {
      transform: scale3d(1, 1, 1);
      transform-origin: left;
    }

    &[data-icon='chevron-right'] {
      padding-left: calc(var(--buttonSpace) / 2);
    }

    @media (prefers-reduced-motion: no-preference) {
      &::after {
        transition: transform 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
      }
    }
  }

  &[data-loading='true'] {
    --buttonTextOpacity: 0;
  }

  &[data-icon-only='true'] {
    --buttonPadding: 0;
    --buttonTextColor: var(--textBody);

    width: var(--buttonSize);
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
      transform: none;
    }

    &::after {
      background: color-mix(in lab, var(--text) 0%, transparent);
    }

    &:hover::after {
      background: color-mix(in lab, var(--text) 10%, transparent);
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }
}

.text {
  font-size: var(--buttonFontSize);
  font-weight: var(--fontWeightMedium);
  opacity: var(--buttonTextOpacity);
  position: relative;
  line-height: 1;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--background);
  opacity: 0;
  transition: opacity 400ms ease var(--buttonLoaderDelay);

  &[data-visible='true'] {
    opacity: 1;
  }
}