.notch {
    --tw-gradient-to: #fbbf24 var(--tw-gradient-to-position);
    --tw-gradient-from: #d97706 var(--tw-gradient-from-position);
    -tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
    position: absolute;
    transition-property: opacity;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-delay: inherit;
    opacity: 1;
    clip-path: polygon(0 -1px, 100% -1px, calc(100% - 10px) 100%, 10px 100%);
    width: 64px;
    height: 8px;
    top: 2px;
}

.divider {
    position: relative;
    width: 100%;
    height: 2px;
}

.line {
    width: 100%;
    height: 100%;
    --tw-gradient-to: #fbbf24 var(--tw-gradient-to-position);
    --tw-gradient-from: #d97706 var(--tw-gradient-from-position);
    -tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
    opacity: 1;
    transition-property: opacity;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-delay: 1000;
    transform-origin: left center;
    transform: scaleX(1);
}